@use "sass:math";
@use "../../mixin.scss" as *;
.championContainer {
  .bg2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;
  }
  .swiper {
    width: 90%;
    @include tablet() {
      padding-top: 10rem;
    }
    @include phone() {
      padding-top: 0;
    }
  }
  .swiper-slide {
    overflow: visible;
    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0s;

    &.active {
      transform: translateX(0);
      opacity: 1;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: #{math.div($i, 2)}s;
        }
      }
    }
  }
}
