@use "../../mixin.scss" as *;
.championCard {
  width: 100%;
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: opacity 0.5s;
  margin-top: 8rem;

  &:hover {
    border: 0.1rem solid rgba(80, 185, 255, 0.527);
  }
  &:hover .hoverimg {
    opacity: 1;
    cursor: pointer;
  }
  .hoverimg {
    height: 120%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .bg-image {
    width: 100%;
    height: 100%;
  }
  .name {
    position: absolute;
    bottom: 0;
    background-color: rgba(135, 207, 235, 0.548);
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
}
@include tablet() {
  .fixpic {
    transform: translateX(30%);
    width: 30rem !important;
    height: 30rem !important;
  }
}
@include phone() {
  .fixpic {
    transform: translateX(20%);
    width: 15rem !important;
    height: 15rem !important;
  }
}
