@font-face {
  font-family: SpookyGravePersonalUse;
  src: url("./assets/fonts/SpookyGravePersonalUse.ttf");
  font-display: block;
}
@font-face {
  font-family: Angled;
  src: url("./assets/fonts/Angled.otf");
  font-display: block;
}

a:hover {
  color: #ec6630;
}
